.container {
    padding: 10px;
    border: 1px solid #eee;
    text-align: center;
}

.button {
    margin-left: 10px;
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
}

input {
    padding: 10px;
}
